.tooltip {
  -moz-appearance: none !important; 
  height: 100%; 
  width: 100%; 
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
  background-color: transparent !important;
  border: transparent !important;
}

.div-notify {
  -moz-border-radius-topright: 5px; 
  background-color: black; 
  height: 15px; 
  width: 100%; 
  margin: 0px 0px 0px 0px; 
  padding-left: 5px;
  padding-right: 5px;
  border: transparent !important;
}

.pb-container {
  border: 1px solid white; 
  width: 150px; 
  height: 5px;
}

#hgb-progressbar {
  width: 0px; 
}

.label {
  font-size: .95em;
  margin-left: -3px;
}
